<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <title>MOVIE_APP</title>
    <style>
  
      .icon{
        padding: 10px;
      }
      .link-light{
        padding: 10px;
      }
      body{
        font-family: 'Roboto', sans-serif;
        background-color:black;
      }
      div.wall-black{
        background-color:black;
      }
      #delete-form{
        display: inline;
      }
      .container{
        position: relative;
      }
      .top-left {
        position: absolute;
        top: 40px;
        left: 16px;
      }
      .bottom-left {
        position: absolute;
        bottom: 0px;
        left: 16px;
      }
      nav div div ul li.nav-item a:active{
        text-decoration: overline red;
      } 
      nav div div ul li.nav-item a:visited{
        text-decoration: overline red;
      }
      nav div a:active{
        text-decoration: overline red;
      }
      div h1.top5{
        font-size: 72px;
        font-weight: bold;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-color:#FFD700;
        -webkit-text-stroke-width:1px;
      }
      div h1.top5{
        font-size: 72px;
        font-weight: bold;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-color:#FFD700;
        -webkit-text-stroke-width:1px;
      }
      div div div div div div.gold-border{
        font-size: 200px;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color:#FFD700;
        -webkit-text-stroke-width:2px;
        position: absolute;
        right: 250px;
        bottom: 100px;
      }
      img:hover{
        filter:opacity(50%)
      }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" >
          <a class="navbar-brand" href="/">MOVIE PLAZA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/movie">MOVIE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/theater">THEATER</a>
              </li>
            </ul>
            <div id="search"> 
              <form class="d-flex">
                <span style="color:#FFC90E;">
                  <i class="fas fa-search fa-2x" style="margin-right: 10px"></i>
                </span>
                <input class="form-control me-10" type="search" placeholder="Search" aria-label="Search">
              </form>
            </div>
            <ul>
              <% if(!currentUser) { %>
              <ii>
                <a class="link-light" href="/login" role="button">Log in</a>
              </ii>
              <ii>
                <a class="link-light" href="/signup" role="button">Sign up</a>
              </ii>
            </ul>
             <% } else { %>
              <ii>
                <a class="link-light" href="#" role="button">Log as <%= currentUser.username %></a>
              </ii>
              <ii>
                <a class="link-light" href="/logout" role="button">Log out</a>
              </ii>
            </ul>
            <% } %>
            </div>
        </div>
    </nav>
    
   
    
