<%- include('partials/header.ejs') %>
<div class="mt-5" style="margin-left: 750px;">
    <h1>Godziilla VS Kong</h1>
</div>
<div class="album py-5  ">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            
            <div class="col-lg-4">
                <div class="card shadow-sm">
                    <img src="https://i1.wp.com/keeping-it-reel.com/wp-content/uploads/2021/03/godzvkongposter.jpeg?ssl=1" class="card-img-top" height="550 px">
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: 100px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/odM92ap8_c0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card mt-3" style="max-width: 550px; max-height: 450px;">
                    <div class="card-header">
                      <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                          <a class="nav-link" href="/description">Description</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/showtime">Showtime</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Godzilla vs. Kong is a 2021 American monster film directed by Adam Wingard. A sequel to Godzilla: King of the Monsters (2019) and Kong: Skull Island (2017), it is the fourth film in Legendary's MonsterVerse. It is also the 36th film in the Godzilla franchise, the 12th film in the King Kong franchise, and the fourth Godzilla film to be completely produced by a Hollywood studio</p>
                    </div>
                  </div>
            </div>
     

        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>