<%- include('./partials/header.ejs') %>
<div class="container">
  <form action='/movie/<%= movies._id %>/ticket' method='POST'> 
      <!-- <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" name="comment[author]" placeholder="Your username">
      </div> -->
      <div class="col-md-6" width="500px">
        <div class="card-body">
          <h5 class="card-title">Detail</h5>
          <div>
            <div class="row-cols mt-3" style="margin-left: 20px;">
                <h5>Date:</h5>
                <button class="btn btn-outline-primary dropdown-toggle" type="button" style="margin-left: 20px;">Choose Date</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="row-cols mt-3" style="margin-left: 20px;">
                <h5>Time:</h5>
                <button type="button" class="btn btn-outline-primary">12:10</button>
                <button type="button" class="btn btn-outline-primary">15:40</button>
                <button type="button" class="btn btn-outline-primary">17:30</button>
            </div>
            <h5>Time:</h5>
            </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/movies">Go back</a>
  </form>
</div>



<%- include('./partials/footer.ejs') %>