<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>MOVIE_APP</title>
    <style>
        .inline{
            display: inline;
        }
        
        body{
            font-family: 'Poppins', sans-serif;
            background-image: url('/images/wallpaper.jpg');
        }
        .content{
            margin: 5%;
            background-color: #ffffff;
            padding: 4rem 4em 5rem 4em;
            box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
            border-radius: 10px;
        }
        .signin-text{
            font-style: normal;
            font-weight: 600 !important;
            color: black;
        }
        .form-control{
            display: block;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            border-color: #720A97!important; 
            border-style: solid !important;
            border-width: 0 0 2px 0 !important;
            padding: 5px !important;
            color: #3D4C53;
            height: 100%;
            border-radius: 5%;
            background-color: #ffffff;
            background-clip: padding-box;
        }

        .form-control:focus{
            color:#3D4C53;
            background-color: #ffffff;
            border-color: #ffffff;
            outline: 10px;
            box-shadow: none;
        }
        .btn-class{
            border-radius: 8%;
            border-color: black;
           
        }
        .btn-class:hover{
            background: #720A97;
            color: #ffffff;
        }
 
        .center{
            margin: 0;
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%,0%);
            transform: translate(-50%,0%);
        }

    </style>
</head>
<body>