<%- include('../partials/header.ejs') %>

<div class="card">
    <img src="" class="card-img-top">
    <div class="card-body">
        <h5 style="color:green;" class="card-title">theater.branch</h5>
      <h5 style="color:green;" class="card-title">theater.theater_no</h5>
      <p class="card-text">
      movie title: <%= movie.title %> 
      showtime:
      seat:
      price:
      </p>
      <!-- post put showtime to next page -->
    </div>
  </div>
  </div>
  

<%- include('../partials/footer.ejs') %>