<%- include('../partials/header.ejs') %>
<div class="mt-5" style="margin-left: 750px;">
    <h1 style="color: whitesmoke;"><%= movies.name %></h1>
</div>                 
    <a class="nav-link change" style="color:#70B7BA;" href="/movie/<%= movies._id %>/showtime">Showtime</a>
</div>

