<%- include('../partials/showtime/header.ejs') %>
<div class="card">
  <img src="<%= movies.image %>" class="card-img-top">
  <div class="card-body">
    <h5 style="color:green;" class="card-title">theater.theater_no</h5>
    <p class="card-text">
     <%= movies.title %>
    </p>
    <!-- post put showtime to next page -->
    <a class="btn btn-outline-dark" href="" role="button">showtime</a>
  </div>
</div>
</div>
<%- include('../partials/showtime/footer.ejs') %>

   

