<%- include('../partials/header.ejs') %>

<div>
    <i class="far fa-square fa-5x" style="color: #FFC90E;"></i><text style="color:white;">a1</text>
    <i class="far fa-square fa-5x" style="color: #FFC90E;"></i><text style="color:white;">a2</text>
    <i class="far fa-square fa-5x" style="color: #FFC90E;"></i><text style="color:white;">a3</text>
    <i class="far fa-square fa-5x" style="color: #FFC90E;"></i><text style="color:white;">a4</text>
    <i class="far fa-square fa-5x" style="color: #FFC90E;"></i><text style="color:white;">a5</text>

</div>

<div class="card">
    <img src="" class="card-img-top">
    <div class="card-body">
        <h5 style="color:green;" class="card-title"><%= theater.branch %></h5>
        <h5 style="color:green;" class="card-title"><%= theater.theater_no %></h5>
        <p class="card-text">
         movie title:
        showtime:
         seat:
         price:
        </p>
        <a class="btn btn-primary" href="">purchase</a>
      <!-- post put showtime to next page -->
    </div>
</div>
  <
  

<%- include('../partials/footer.ejs') %>